@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'assets/css//form.css';
@import 'assets/css//wicked.min.css';

.content {
    margin-top: 40px;
}

.card-image-container {
    height: 200px;
    position: relative;
    img {
        height: 100%;
    }
}

.btn-success {
    margin-bottom: 20px;
}

.btn-success, .btn-danger {
    color: white !important;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mg-top-10 {
    margin-top: 10px;
}

.cat-profile {
    text-align: center;
    h1 {
        margin-bottom: 20px;
    }
    p {
        margin-top: 60px;
        font-style: italic;
    }
    img {
        max-height: 500px;
    }
}